<div class="card">
  <section id="expenses">
    <h2>Expenses</h2>
    <a class="button primary add" id="new">New</a>
    <table class="list" id="expenseList">
      <thead>
          <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Category</th>
            <th>Description</th>
            <th>Amount</th>
            <th></th>
          </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </section>
  
  <form id="#expense" autocomplete="off">
    <a class="button primary back" id="back">Back</a>
    <h2 id="title">Add Expense</h2>
    <div>
      <label>Date</label><span>*</span>
      <input type="date" id="date" name="date" value="2018-07-22">
    </div>
    <div>
      <label>Category</label><span>*</span>
      <select name="category" id="category">
        
      </select>
    </div>
    <div>
      <label>Description</label> <span>*</span>
      <input type="text" name="description" id="description">
    </div>
    <div>
      <label>Amount</label> <span>*</span>
      <input type="number" name="amount" id="amount" value="0">
    </div>
    <div>
      <a class="button primary save large" id="save">Save</a>
    </div>
      
  </form>
</div>