
/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 38rem) {
    header img{
        width: 100px;
    }
    header h1{
        font-size: 2rem;
    }
    header h2{
        font-size: 1.5rem;
    }
    nav button{display: none;}
    nav ul{
        margin-left: 2%;
    }
    nav ul li{
        float: left;
    }
    nav ul li a{
        border:none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .8rem 1rem;
    }
    nav ul.hide{
        display: block;
    }
    /*BEGIN gallery.html*/
    div.gallery{
        grid-template-columns: 1fr 1fr;
    }
    /*END gallery.html*/
    section.forecast{
        width: 480px;
        margin-bottom: 2rem;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
   
    main article img{
        float: right;
        width: 320px;
        margin: 25px;
    }
    main article h2{
        margin:0
    }
    main h3{
        margin-top: 0;
        text-align: center;
    }
    .contact{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .mapouter{
        display: block;
        width: 320px;
        margin: 0 2%;
        justify-self: end;
    }
    .contact section{
        align-self: center;
        justify-self: center;
    }
/* ====== index ===== */
div.cards section{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
div.cards section:nth-child(even) img {
	grid-column: 1;
}
div.cards section:nth-child(even) .data {
	grid-column: 2;
	grid-row: 1;
}
/* ===== INDEX===== */

} /*end medium */

