/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,p {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

h1,
h2,h3,h4 {
    font-family: 'Nunito', sans-serif;
}

header {
    padding: .5rem 2%;
    background-color: #acdde7;
}

header img {
    float: left;
    margin-right: 10px;
    width: 50px;
}

header h1 {
    margin: 0;
    font-size: 1.3rem;
}

header h2 {
    margin: 0;
    font-size: 1rem;
}

nav {
    background-color: #208aae;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}

nav ul li a:hover {
    background-color: #8ea8c3;
    color: #111;
}

nav ul li.active a {
    background-color: rgb(11, 28, 83);
    color: #fff;
}

main {
    padding: 0 2% 2rem 2%;
    min-height: 10rem;
}

main a {
    text-decoration: none;
    color: rgb(8, 30, 88);
}

footer {
    background-color:#277891;
    padding: .5rem 2%;
    text-align: center;
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: none;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
}

.colors th {
    background-color: #8ea8c3;
}

.colors td {
    width: 25%;
    height: 3em;
}

.primary {
    background-color: #208aae;
}

.secondary {
    background-color: #0d2149;
    color:white;
}

.accent1 {
    background-color: #8ea8c3;
}

.accent2 {
    background-color: #acdde7;
}

.img1{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img2{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.colored{
    background-color:#acdde7;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}